<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
            <h1 class="header">
              API Basejump: <a href="https://www.freecodecamp.org/challenges/url-shortener-microservice" target="_blank">URL Shortener Microservice</a>
            </h1>
        
            <p>
                By <a href="https://www.freecodecamp.org/amimaro" target="_blank">Amimaro</a>
            </p>
            <hr />
        
            <blockquote>
                User stories:
                <ul>1) I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</ul>
                <ul>2) If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.</ul>
                <ul>3) When I visit that shortened URL, it will redirect me to my original link.</ul>
            </blockquote>
            <h3>Example usage:</h3>
            <code>https://fcc-api-3.glitch.me/new/[URL]</code><br>
            <code>https://fcc-api-3.glitch.me/new/[URL]:[PORT]</code>
            <h3>Example output:</h3>
            <code>
                { "original_url":"http://foo.com:80", "short_url":"https://fcc-api-3.glitch.me/8170" }
            </code>
        
      </div>
   </body>

</html>
